/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a.post-link {
color: #1A77BD;
text-decoration: underline;
}

a {
    color: #2a92ea;
}
